
.light{
  background-color: white;
  color: black;
}

.dark{
  background-color: black;
  color: white;
}

/* #gif-container {
  display: grid;
  margin-top: 100px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fill, auto-fill);
  grid-gap: 8px;
  margin-right: 10px;
  margin-left: 10px;
}

#gif-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

#gif-query-input {
  border: 2px solid black;
  padding: 15px;
  opacity: 1;
  z-index: 999;
  font-size: large;
  text-align: center;
}

.gif-query-container {
  display: flex;
  flex-direction: column; 
  position: fixed;
  z-index: 9999;
  top: 0px;
  width: 100%;
}

#theme-toggler{
  cursor: pointer;
  padding: 10px;
  font-weight: bolder; 
  border: 2px solid black;
}

#gif-dashboard {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* @media screen and (min-width: 768px) {
  #gif-container {
    display: grid;
    margin-top: 100px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fill, 10vw);
    grid-gap: 8px;
    margin-right: 10px;
    margin-left: 10px;
  }
} */
